.work-tile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.work-tile-item {
  min-width: 200px;
  min-height: 200px;
  background-color: purple;
  border-radius: 8px;
  margin: 12px;
  padding: 12px;
}
@media screen and (max-width: 775px) {
  .work-tile-item {
    width: 100%;
    min-height: 300px;
  }
}
